In [2]:
import pandas as pd
import numpy as np
sas=pd.Series([1,3,5,np.nan,6])
sas

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
dtype: float64

In [3]:
import pandas as pd
data={'apple': [3,2,0], 'orange' : [3,8,9]}
purchase=pd.DataFrame(data)
purchase

   apple  orange
0      3       3
1      2       8
2      0       9